<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spbs.bootshiro.system.dao.TMenuMapper">
  <resultMap id="BaseResultMap" type="com.spbs.bootshiro.system.domain.TMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <select id="findUserPermissions" resultMap="BaseResultMap">
    select m.perms from t_role r
    left join t_user_role ur on(r.role_id = ur.role_id)
    left join t_user u on(u.user_id = ur.user_id)
    left join t_role_menu rm on(rm.role_id = r.role_id)
    left join t_menu m on(m.menu_id = rm.menu_id )
    where u.username = #{userName} and m.perms is not null and m.perms &lt;&gt; ''
  </select>

  <update id="changeToTop" parameterType="java.util.List">
    update t_menu set parent_id = 0 where menu_id in ( select a.menu_id from (
    (select menu_id from t_menu where parent_id in
    <foreach collection="list" item="menuId" index="index" open="(" close=")" separator=",">
      #{menuId}
    </foreach>
    ) ) a )
  </update>

</mapper>